.container-fluid {
	margin: 0;
	padding: 0;
}

.header {

	.cont-header {
		background-image: url("../img/background-animation.svg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
}
