div.container-fluid
	div.row
		div.col-xs-12.col-sm-12.col-md-12.col-lg-12.content.content-paddings
			ul.sites
				li
					a(href="http://black-sky.github.io/blink" target="_blank" data-target="img-blink")
						div.sitename
							p Blink
						div.tags
							p Упражнения для снятия усталости с глаз &mdash; 2017
				li
					a(href="http://black-sky.github.io/business" target="_blank" data-target="img-business")
						div.sitename
							p Business
						div.tags
							p Простой и информативный web-сайт консалтинговой компании &mdash; 2015
				li
					a(href="http://black-sky.github.io/style" target="_blank" data-target="img-style")
						div.sitename
							p Style
						div.tags
							p Уникальный, современный web-сайт с плиточным дизайном &mdash; 2015
				li
					a(href="http://black-sky.github.io/coffee" target="_blank" data-target="img-coffee")
						div.sitename
							p Coffee Shop
						div.tags
							p Отзывчивый шаблон web-сайта &mdash; 2015