#tabs.tabs
	nav
		ul
			li
				a#tab1.icon-projects(href="#section-1")
					span Projects
			li
				a#tab2.icon-about(href="#section-2")
					span About Me
			li
				a#tab3.icon-contacts(href="#section-3")
					span Contact
	.tabs-content
		.content
			section#section-1
				.for-mobile
					h1 Projects
				.container
					.row
						.col.blink
							.photo-container
								h1 Blink
								p Blink &mdash; the website that helps to care about our eyes. Following instruction you can do basic exercises to relieve fatigue and relax your eyes.
							.slide
								.text-tags
									span.tag html5
									span.tag css3
									span.tag js
									span.tag pug
									span.tag scss
									span.tag bootstrap grid
									span.tag yarn
									span.tag gulp
									span.tag git
									span.tag responsive design
							button View project
						.col.denteez
							.photo-container
								h1 Denteez
								p Denteez &mdash; website that I did as test work. During development I worked with AJAX, responsive layout, pixel perfect markup and form validation.
							.slide
								.text-tags
									span.tag html5
									span.tag css3
									span.tag js
									span.tag pug
									span.tag scss
									span.tag jquery
									span.tag ajax
									span.tag bootstrap grid
									span.tag yarn
									span.tag gulp
									span.tag git
									span.tag responsive design
									span.tag pixel perfect markup
							button View project
					.row
						.col.business
							.photo-container
								h1 Business
								p Business &mdash; simple, light and informative website of abstract consulting company.
							.slide
								.text-tags
									span.tag html5
									span.tag css3
									span.tag js
									span.tag pug
									span.tag scss
									span.tag bootstrap
									span.tag bower
									span.tag gulp
									span.tag git
									span.tag responsive design
							button View project
					.row.mg-bottom
						.col.style
							.photo-container
								h1 Style
								p Style &mdash; unique, modern, tiles design website. The idea is to show simple blog about fashion and some clothes design.
							.slide
								.text-tags
									span.tag html5
									span.tag css3
									span.tag js
									span.tag pug
									span.tag scss
									span.tag bootstrap
									span.tag bower
									span.tag gulp
									span.tag git
									span.tag responsive design
							button View project
						.col.coffee-shop
							.photo-container
								h1 Coffee Shop
								p Coffee Shop &mdash; website template of small coffee cafe. This is my first work, where I used responsive design.
							.slide
								.text-tags
									span.tag html5
									span.tag css3
									span.tag js
									span.tag pug
									span.tag scss
									span.tag bootstrap
									span.tag bower
									span.tag gulp
									span.tag git
									span.tag responsive design
							button View project
			section#section-2
				.for-mobile
					h1 About Me
				.container-about-me
					p I'm a beginner front-end developer. I have a passion for web development and love to create for web and mobile devices. My goal is to create cool websites and web applications.
				.container-skills
					h1 Programming Skills
					.skillbar.clearfix(data-percent="70%")
						.skillbar-title
							span HTML5
						.skillbar-bar
						.skill-bar-percent
							|70%
					.skillbar.clearfix(data-percent="75%")
						.skillbar-title
							span CSS3
						.skillbar-bar
						.skill-bar-percent
							|75%
					.skillbar.clearfix(data-percent="40%")
						.skillbar-title
							span JS (ES5)
						.skillbar-bar
						.skill-bar-percent
							|40%
					.skillbar.clearfix(data-percent="60%")
						.skillbar-title
							span Pug
						.skillbar-bar
						.skill-bar-percent
							|60%
					.skillbar.clearfix(data-percent="65%")
						.skillbar-title
							span SCSS
						.skillbar-bar
						.skill-bar-percent
							|65%
					.skillbar.clearfix(data-percent="40%")
						.skillbar-title
							span jQuery
						.skillbar-bar
						.skill-bar-percent
							|40%
					.skillbar.clearfix(data-percent="65%")
						.skillbar-title
							span Bootstrap
						.skillbar-bar
						.skill-bar-percent
							|65%
					.skillbar.clearfix(data-percent="50%")
						.skillbar-title
							span AJAX
						.skillbar-bar
						.skill-bar-percent
							|50%
					.container-techniques
						.col
							p Responsive Web Design
							i.icon-responsive
								span.count-responsive
						.col
							p Pixel Perfect Markup
							i.icon-pixel-perfect
								span.count-grid
				h1.animate For Development I Also Use
				.container-tools
					.col
						p Gulp.js
						i.icon-gulp
					.col
						p Node.js
						i.icon-nodejs
					.col
						p NPM
						i.icon-npm
					.col
						p Yarn
						i.icon-yarn
					.col
						p Git
						i.icon-git
					.col
						p Github
						i.icon-github
				h1 Software Skills
				.container-software
					.skill-box
						.skills-circle
							ul
								li(data-percent="35")
									span.text-software Photoshop
									span.bar-circle-right
									span.bar-circle-left
									span.bar-circle-cover
								li(data-percent="40")
									span.text-software Avocode
									span.bar-circle-right
									span.bar-circle-left
									span.bar-circle-cover
								li(data-percent="60")
									span.text-software Inkscape
									span.bar-circle-right
									span.bar-circle-left
									span.bar-circle-cover
								li(data-percent="70")
									span.text-software Sublime Text 3
									span.bar-circle-right
									span.bar-circle-left
									span.bar-circle-cover
			section#section-3
				.for-mobile
					h1 Contact
					.container-social
						.container-mail
							a.icon-button.mail(href="#/")
								i.icon-mail
								span
							.container-copy
								span.text alexander-kislov@hotmail.com
								button Copy
						.container-responsive
							a.icon-button.responsive(href="#/")
								i.icon-responsive
								span
							.container-copy
								span.text +380955487449
								button Copy
						.container-skype
							a.icon-button.skype(href="#/")
								i.icon-skype
								span
							.container-copy
								span.text strannik11.92
								button Copy
						.container-google-plus
							a.icon-button.google-plus(href="#/")
								i.icon-google-plus
								span
							.container-copy
								span.text +alexandrkislov92
								button Copy
	.footer
		p &copy; 2017 Alexander Kislov
