#tabs.tabs
	nav
		ul
			li
				a.icon-projects(href="#section-1")
					span Projects
			li
				a.icon-about(href="#section-2")
					span About Me
			li
				a.icon-contacts(href="#section-3")
					span Contacts
	.tabs-content
		.content
			section#section-1
				h1 S1
			section#section-2
				h1 S2
			section#section-3
				h1 S3
