.container-fluid
	.content
		.row.row-flex
			.col
				.photo-container
					.blink
				h2 Blink
				.slide
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
		.row.row-flex
			.col
				.photo-container
					.denteez
				h2 Denteez
				.slide
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
		.row.row-flex
			.col
				.photo-container
					.consulting-firm
				h2 Consulting Firm
				.slide
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
		.row.row-flex
			.col.col-3
				.photo-container
					.style
				h2 Style
				.slide
					p Quam molestiae ipsa sapiente mollitia, nobis.
			.col
				.photo-container
					.coffe-shop
				h2 Coffee Shop
				.slide
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		//- .col-xs-12.col-sm-12.col-md-12.col-lg-12.content.content-paddings
		//- 	ul.sites
		//- 		li
		//- 			a(href="http://black-sky.github.io/blink" target="_blank" data-target="img-blink")
		//- 				.sitename
		//- 					p Blink
		//- 				.tags
		//- 					p Упражнения для снятия усталости с глаз &mdash; 2017
		//- 		li
		//- 			a(href="http://black-sky.github.io/business" target="_blank" data-target="img-business")
		//- 				.sitename
		//- 					p Business
		//- 				.tags
		//- 					p Простой и информативный web-сайт консалтинговой компании &mdash; 2015
		//- 		li
		//- 			a(href="http://black-sky.github.io/style" target="_blank" data-target="img-style")
		//- 				.sitename
		//- 					p Style
		//- 				.tags
		//- 					p Уникальный, современный web-сайт с плиточным дизайном &mdash; 2015
		//- 		li
		//- 			a(href="http://black-sky.github.io/coffee" target="_blank" data-target="img-coffee")
		//- 				.sitename
		//- 					p Coffee Shop
		//- 				.tags
		//- 					p Отзывчивый шаблон web-сайта &mdash; 2015
