div.container-fluid
	div.row
		div.col-xs-12.col-sm-12.col-md-12.col-lg-12.content.content-paddings
			ul.sites
				a(href="http://black-sky.github.io/style" target="blank" data-target="img-style")
					li
						div.sitename
							p Style
						div.tags
							p Уникальный, современный веб сайт с плиточным дизайном &mdash; 2015
				a(href="http://black-sky.github.io/startup" target="blank" data-target="img-spartial")
					li
						div.sitename
							p Spartial
						div.tags
							p Платформа для успешного стартапа &mdash; 2015
				a(href="http://black-sky.github.io/coffee" target="blank" data-target="img-coffee")
					li
						div.sitename
							p Coffee
						div.tags
							p Отзывчивый шаблон веб сайта &mdash; 2015