#tabs.tabs
	nav
		ul
			li
				a#tab1.icon-projects(href="#section-1")
					span Projects
			li
				a#tab2.icon-about(href="#section-2")
					span About Me
			li
				a#tab3.icon-contacts(href="#section-3")
					span Contacts
	.tabs-content
		.content
			section#section-1
				h1 S1
			section#section-2
				.container-about-me
					p I'm a beginner front-end developer. I have a passion for web development and love to create for web and mobile devices. My goal is to create cool websites and web applications.
				.container-skills
					h1 Programming Skills
					.skillbar.clearfix(data-percent="70%")
						.skillbar-title
							span HTML5
						.skillbar-bar
						.skill-bar-percent
							|70%
					.skillbar.clearfix(data-percent="75%")
						.skillbar-title
							span CSS3
						.skillbar-bar
						.skill-bar-percent
							|75%
					.skillbar.clearfix(data-percent="40%")
						.skillbar-title
							span JS (ES5)
						.skillbar-bar
						.skill-bar-percent
							|40%
					.skillbar.clearfix(data-percent="60%")
						.skillbar-title
							span Pug
						.skillbar-bar
						.skill-bar-percent
							|60%
					.skillbar.clearfix(data-percent="65%")
						.skillbar-title
							span SCSS
						.skillbar-bar
						.skill-bar-percent
							|65%
					.skillbar.clearfix(data-percent="40%")
						.skillbar-title
							span jQuery
						.skillbar-bar
						.skill-bar-percent
							|40%
					.skillbar.clearfix(data-percent="65%")
						.skillbar-title
							span Bootstrap
						.skillbar-bar
						.skill-bar-percent
							|65%
					.container-techniques
						.col
							p Responsive Web Design
							i.icon-responsive
								span.count-responsive
						.col
							p Pixel Perfect Technique
							i.icon-pixel-perfect
								span.count-grid
				h1.animate For Development I Also Use
				.container-tools
					.col
						p Gulp.js
						i.icon-gulp
					.col
						p Node.js
						i.icon-nodejs
					.col
						p NPM
						i.icon-npm
					.col
						p Yarn
						i.icon-yarn
					.col
						p Git
						i.icon-git
					.col
						p Github
						i.icon-github
				h1 Software Skills
				.container-software
					.skill-box
						.skills-circle
							ul
								li(data-percent="35")
									span.text Photoshop
									span.bar-circle-right
									span.bar-circle-left
									span.bar-circle-cover
								li(data-percent="40")
									span.text Avocode
									span.bar-circle-right
									span.bar-circle-left
									span.bar-circle-cover
								li(data-percent="60")
									span.text Inkscape
									span.bar-circle-right
									span.bar-circle-left
									span.bar-circle-cover
								li(data-percent="70")
									span.text Sublime Text 3
									span.bar-circle-right
									span.bar-circle-left
									span.bar-circle-cover
			section#section-3
				h1 S3
