meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="author" content="Alexander Kislov")
meta(name="copyright" content="Alexander Kislov")
meta(name="description" content="Hello, my name is Alexander. Welcome To My Portfolio Website")
meta(name="keywords" content="portfolio, web-site, design, web development, front-end, responsive design, HTML5, CSS3, JavaScript")
meta(name="viewport" content="width=device-width, initial-scale=1")
title Portfolio &mdash; Alexander Kislov
link(rel="shortcut icon" href="img/portfolio.ico" type="image/x-icon")
link(rel="stylesheet" href="css/main.css")
link(rel="manifest" href="manifest.json")
