.container-fluid
	.fixed-bg
	.header
		.cont-header-1
		.cont-header
			.logo
				//- img(src = "img/header-text-sm-screens.svg" alt = "logo & initials")
			.nav
				#rightSideNav.sidenav
					a.main.active(href = "#/") Main
					a.about(href = "#/") About Me
					a.projects(href = "#/") Projects
					a.contacts(href = "#/") Contacts

