div.container-fluid.fluid-paddings.header
	div.row.autors-margin
		div.col-xs-12.col-sm-10.col-md-10.col-lg-10.fampad
			div.img-log
				img(src="img/logo/Logo.svg")
			div.fampad-text
				h1 Black Sky
				h4 Александр Кислов
		div.col-xs-12.col-sm-2.col-md-2.col-lg-2.fampad.text-align
			h4
				a(href="http://black-sky.github.io/en") ENG&nbsp;
				span &nbsp;|&nbsp;
				a(href="http://black-sky.github.io") &nbsp;RUS
	//- div.row
	//- 	div.col-md-4
	//- 		p Email
	//- 			a strannik11.92@gmail.com
	//- 	div.col-md-4
	//- 		p Skype
	//- 			a strannik11.92
	//- 	div.col-md-4
	//- 		p GitHub
	//- 			a Farengeyt451
	div.row
		div.col-xs-12.col-sm-3.col-md-3.col-lg-3.bottom-paddings
			h4 Кратко о мне
			p Привет! Я начинающий фронт-енд разработчик. Я хочу помочь людям воплотить свои идеи в реальность. Вы можете посмотреть мои работы ниже.
		div.col-xs-6.col-sm-3.col-md-3.col-lg-3.bottom-paddings
			h4 Чем мы я хочу заниматься?
			p Я хочу работать в сфере фрон-энд разработки. Быть в тренде современных технологий. Моя цель научиться создавать современные вэб сайты и вэб приложения.
		div.col-xs-6.col-sm-3.col-md-3.col-lg-3.bottom-paddings
			h4 Что я использую?
			ul
				li HTML5/CCS3
				li Bootstrap 3/4
				li jQuery 3
				li SCSS/pug
				li Node.js/Gulp
		div.col-xs-12.col-sm-3.col-md-3.col-lg-3.bottom-paddings
			h4 Контакты
			ul
				li
					a(href="mailto:black-sky@outlook.com" target="blank") black-sky@outlook.com
				li skype:&nbsp;
					a(href="skype:black-sky@outlook.com?call" target="blank") black-sky@outlook.com
				li
					a(href="https://redbeam.slack.com" target="blank") redbeam.slack.com
				li
					a(href="https://github.com/Red-Beam" target="blank") github.com/Red-Beam
				li
					a(href="https://github.com/InvaderDyr" target="blank") github.com/InvaderDyr
