meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="author" content="Александр Кислов")
meta(name="copyright" content="Александр Кислов")
meta(name="description" content="Привет! Я начинающий front-end разработчик. Я хочу помочь людям воплотить свои идеи в реальность.")
meta(name="keywords" content="Black-sky, портфолио, web-сайт, дизайн, фронтенд, отзывчивый, отзывчивый дизайн, HTML5, CSS3, Javascript")
meta(name="viewport" content="width=device-width, initial-scale=1")
title Black Sky &mdash; Портфолио - Александр Кислов
link(rel="shortcut icon" href="img/ico/Logo_Black_Transparent-ICO.ico" type="image/x-icon")
link(rel="stylesheet" href="css/main.css")
