div.container-fluid.fluid-paddings.header
	div.row.autors-margin
		div.col-xs-12.col-sm-10.col-md-10.col-lg-10.fampad
			div.img-log
				img(src="img/logo/Logo.svg")
			div.fampad-text
				h1 Black Sky
				h4 Александр Кислов
		div.col-xs-12.col-sm-2.col-md-2.col-lg-2.fampad.text-align
			h4
				a(href="http://black-sky.github.io/en") ENG&nbsp;
				span &nbsp;|&nbsp;
				a(href="http://black-sky.github.io") &nbsp;RUS
	div.row
		div.col-xs-12.col-sm-3.col-md-3.col-lg-3.bottom-paddings
			h4 Кратко обо мне
			p Привет! Я начинающий front-end разработчик. Я хочу помочь людям воплотить свои идеи в реальность. Вы можете посмотреть мои работы ниже.
		div.col-xs-6.col-sm-3.col-md-3.col-lg-3.bottom-paddings
			h4 Чем я хочу заниматься?
			p Я хочу работать в сфере front-end разработки, быть в тренде современных технологий. Моя цель создавать классные web-сайты и web-приложения.
		div.col-xs-6.col-sm-3.col-md-3.col-lg-3.bottom-paddings
			h4 Что я использую?
			ul
				li Basic front-end: &nbsp;HTML5/CCS3
				li Preprocessors: &nbsp;Sass/Pug
				li Build tool: &nbsp;Gulp.js
				li Package managers: &nbsp;Bower/Npm
				li JavaScript runtime engine: &nbsp;Node.js
				li Version control system: &nbsp;Git
				li Bootstrap 4/jQuery 3
		div.col-xs-12.col-sm-3.col-md-3.col-lg-3.bottom-paddings
			h4 Контакты
			ul
				li
					p Email: &nbsp;
						a(href="mailto:strannik11.92@gmail.com" target="blank") strannik11.92@gmail.com
				li
					p Skype: &nbsp;
						a(href="skype:strannik11.92?call" target="blank") strannik11.92
				li
					p GitHub: &nbsp;
						a(href="https://github.com/Farengeyt451" target="blank") github.com/Farengeyt451