meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="author" content="Alexander Kislov")
meta(name="copyright" content="Alexander Kislov")
meta(name="description" content="Hi! I am junior front-end developer. I want to help people realize their ideas into reality.")
meta(name="keywords" content="portfolio, web-site, design, web development, front-end, responsive design, HTML5, CSS3, JavaScript")
meta(name="viewport" content="width=device-width, initial-scale=1")
title Portfolio &mdash; Alexander Kislov
link(rel="shortcut icon" href="img/ico/..." type="image/x-icon")
link(rel="stylesheet" href="css/main.css")
