.container-fluid.fluid-paddings
	.header-1
		.row.autors-margin
			.col-xs-12.col-sm-10.col-md-10.col-lg-10.fampad
				.img-log
					img(src="img/logo/Logo.svg" alt="Logo.svg")
				.fampad-text
					h1 Black Sky
					h4 Александр Кислов
			.col-xs-12.col-sm-2.col-md-2.col-lg-2.fampad.text-align
				h4
					a(href="http://black-sky.github.io/en") ENG&nbsp;
					span &nbsp;|&nbsp;
					a(href="http://black-sky.github.io") &nbsp;RUS
		.row
			.col-xs-12.col-sm-3.col-md-3.col-lg-3.about-me
				h4 Кратко обо мне
				p Целенаправленный, ответственный, быстро учусь, внимательный к деталям, открытый к новому. Мне нравится работать в команде.
			.col-xs-12.col-sm-3.col-md-3.col-lg-3.about-me
				h4 Чем я хочу заниматься?
				p Я хочу работать в сфере front-end разработки, быть в тренде современных технологий. Моя цель создавать классные web-сайты и web-приложения.
			.col-xs-12.col-sm-3.col-md-3.col-lg-3.about-me
				h4 Что я использую?
				ul
					li Basic front-end: &nbsp;HTML5/CSS3/JS
					li Preprocessors: &nbsp;Sass/Pug
					li Build tool: &nbsp;Gulp.js
					li Package managers: &nbsp;Bower/Npm
					li JavaScript runtime engine: &nbsp;Node.js
					li Version control system: &nbsp;Git
					li Bootstrap/jQuery
			.col-xs-12.col-sm-3.col-md-3.col-lg-3.about-me
				h4 Контакты
				ul
					li
						p Email: &nbsp;
							a(href="mailto:strannik11.92@gmail.com" target="blank") strannik11.92@gmail.com
					li
						p Skype: &nbsp;
							a(href="skype:strannik11.92?call" target="blank") strannik11.92
					li
						p GitHub: &nbsp;
							a(href="https://github.com/Farengeyt451" target="blank") github.com/Farengeyt451
