$btn-br-radius: 0;
$btn-font-size: 1em;
$btn-focus-color: #FFF;

.btn {
	background-image: none;
	border-radius: $btn-br-radius;
	border: 1px solid #000;
	cursor: pointer;
	display: inline-block;
	font-size: $btn-font-size;
	font-weight: normal;
	line-height: 1.42857143;
	margin-bottom: 0;
	padding: 6px 12px;
	text-align: center;
	touch-action: manipulation;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline:none;
}
.btn:hover,
.btn:focus,
.btn.focus {
	color: $btn-focus-color;
	text-decoration: none;
}
.btn:active,
.btn.active {
	background-image: none;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: none;
	outline: 0;
	outline: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	box-shadow: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
	pointer-events: none;
}
