//-------------
//-Main content
//-------------

// ----
//-tabs
//-----
.tabs {
	position: absolute;
	top: 100%;
	width: 100vw;
	transition: all 0.5s ease;
	margin-top: 0;
	overflow-x: hidden;
	nav {
		text-align: center;
		ul {
			display: inline-block;
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				background-color: rgba(255, 255, 255, 0.6);
				display: block;
				position: relative;
				float: left;
				border: 2px solid #BECBD2;
				margin: 0 4px;
				transition: 0.5s;
			}
		}
		.tab-current {
			border: 2px solid #47A3DA;
			box-shadow: inset 0 2px #47A3DA;
			border-bottom: none;
			z-index: 1;
			&:before {
				content: "";
				position: absolute;
				height: 2px;
				right: 100%;
				bottom: -1px;
				width: 100vw;
				background: #47A3DA;
			}
			&:after {
				content: "";
				position: absolute;
				height: 2px;
				right: 100%;
				bottom: -1px;
				background: #47A3DA;
				right: auto;
				left: 100%;
				width: 100vw;
			}
		}
		a {
			display: block;
			text-decoration: none;
			color: #A7B2B8;
			font-size: 24px;
			line-height: 60px;
			padding: 0 20px;
			white-space: nowrap;
			transition: 0.2s;
			&:hover, &:focus {
				color: #47A3DA;
				transform: translateY(-5px);
			}
			&:active {
				transform: translateY(5px);
			}
		}
		.tab-current {
			a {
				color: #47A3DA;
			}
		}
		a:before {
			display: inline-block;
			text-transform: none;
			font-weight: normal;
			font-variant: normal;
			font-family: "icomoon";
			line-height: 1;
			speak: none;
			-webkit-font-smoothing: antialiased;
			margin: -4px 6px 0 0;
		}
		.icon-projects:before {
			content: "\f121";
		}
		.icon-about:before {
			content: "\e914";
		}
		.icon-contacts:before {
			content: "\f0ac";
		}
	}
	.tabs-content {
		background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,1) 30%);
		padding: 60px 15px 0 15px;
	}
	.content {
		max-width: 1230px;
		margin: 0 auto;
		section {
			font-size: 12px;
			display: none;
			margin: 0 auto;
			&:before {
				content: "";
				display: table;
			}
			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}
		.content-current {
			display: block;
		}
		.for-mobile {
			h1 {
				text-align: center;
				display: none;
			}
		}
		h1 {
			font-size: 22px;
			color: #566873;
			font-weight: normal;
			margin: 0 0 25px 0;
		}
	}
}

//-----------
//-#section-1
//

#section-1 {
	.container {
		margin: 0 auto;
		.row {
			display: flex;
			flex-wrap: wrap;
		}
		.col {
			margin-bottom: 30px;
			overflow: hidden;
			position: relative;
			flex: 1 1 auto;
			min-height: 280px;
			min-width: 355px;
			position: relative;
			border-top: 2px solid #8EBD4C;
			text-align: justify;
			h1 {
				color: #8EBE4C;
				font-weight: normal;
				font-size: 60px;
				margin: 0 0 0 -1px;
				padding: 0;
			}
			p {
				color: #566873;
				font-size: 16px;
				line-height: 26px;
			}
			button {
				cursor: pointer;
				border: none;
				padding: 10px 0;
				font-size: 14px;
				letter-spacing: 2px;
				text-transform: uppercase;
				background-color: #8EBD4C;
				color: #FFF;
				position: absolute;
				bottom: 0;
				width: 100%;
				outline: none;
				height: 40px;
				transition: all 0.2s ease;
				&:active {
					bottom: -1px;
				}
			}
		}
		.slide {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			background-color: #FFF;
			padding: 0 15px;
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			$speed: 0.275s;
			transition: all $speed ease-in-out, visibility 0s $speed;
			visibility: hidden;
			will-change: transform;
			transform: translateY(100%);
			p {
				align-self: flex-start;
				margin: 10px 0;
			}
			.text-tags {
				padding-bottom: 60px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: flex-start;
				.tag {
					// border-radius: 2px;
					background: #47A3DA;
					display: inline-block;
					color: #FFF;
					position: relative;
					padding: 10px;
					margin: 10px;
					font-size: 14px;
				}
				.tag:before {
					background: #FFF;
					width: 9px;
					height: 9px;
					content: "";
					display: inline-block;
					border-radius: 20px;
					margin: 0 5px 0 0;
				}
			}
		}
		.row:hover {
			& ~ .row .slide {
				transform: translateY(-100%);
			}
			.slide {
				// transform: translateX(100%);
			}
			& .col:hover ~ .col .slide {
				// transform: translateX(-100%);
			}
			.col:hover .slide {
				transform: none;
				visibility: visible;
				transition-delay: 0s;
			}
		}
		.photo-container {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			background: transparent 50% 50% / cover;
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			transition: 1s;
			transform-origin: bottom right;
			&::before {
				// background: linear-gradient(transparent, rgba(#431133, 0.5), #000320);
				content: '';
				position: absolute;
				top: 0; right: 0; bottom: 0; left: 0;
			}
			.col:hover & {
				transform: scale(1.25);
			}
		}
		.blink {
			margin-right: 30px;
			&:hover, &:focus {
				button {
					background-color: #FFF;
					color: #808080;
					height: 60px;
					border: 2px solid #8EBD4C;
				}
			}
		}
		.denteez {
			&:hover, &:focus {
				button {
					background-color: #FFF;
					color: #808080;
					height: 60px;
					border: 2px solid #8EBD4C;
				}
			}
		}
		.business {
			&:hover, &:focus {
				button {
					background-color: #FFF;
					color: #808080;
					height: 60px;
					border: 2px solid #8EBD4C;
				}
			}
		}
		.style {
			margin-right: 30px;
			&:hover, &:focus {
				button {
					background-color: #FFF;
					color: #808080;
					height: 60px;
					border: 2px solid #8EBD4C;
				}
			}
		}
		.coffee-shop {
			&:hover, &:focus {
				button {
					background-color: #FFF;
					color: #808080;
					height: 60px;
					border: 2px solid #8EBD4C;
				}
			}
		}
	}
}

//-----------
//-#section-2
//-----------

#section-2 {
	.container-about-me {
		margin-bottom: 60px;
		transition: all 0.2s ease-in-out;
		p {
			margin-top: 0;
			border: 2px solid transparent;
			padding: 10px;
			color: #FFF;
			background-color: rgba(71, 163, 218, 0.7);
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 0.5px;
			transition: all 0.2s ease-in-out;
			&:hover, &:focus {
				border: 2px solid rgba(71, 163, 218, 1);
				cursor: default;
				color: #566873;
				background-color: #FFF;
			}
		}
	}

	.container-skills {
		margin-bottom: 60px;
		h1 {
		}
		.skillbar {
			position: relative;
			display: block;
			margin-bottom: 15px;
			width: 100%;
			background: #EEE;
			height: 35px;
			transition: all 0.4s ease-out;
			&:hover, &:focus {
				cursor: default;
				.skill-bar-percent {
					color: #566873;
					font-size: 14px;
				}
				.skillbar-title {
					background-color: #8EBD4C;
				}
			}
		}
		.skillbar-title {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 14px;
			color: #FFF;
			transition: all 0.3s ease-out;
			span {
				min-width: 80px;
				text-align: center;
				display: block;
				background-color: rgba(0, 0, 0, 0.1);
				padding: 0 20px;
				height: 35px;
				line-height: 35px;
			}
		}
		.skillbar-bar {
			height: 35px;
			width: 0px;
			background-color: rgba(71, 163, 218, 0.7);
		}
		.skill-bar-percent {
			position: absolute;
			right: 10px;
			top: 0;
			font-size: 12px;
			height: 35px;
			line-height: 35px;
			color: #444;
			color: rgba(0, 0, 0, 0.4);
			transition: all 0.3s ease-out;
		}
	}

	.container-techniques {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: center;
		.col {
			margin: 15px;
		}
		p {
			color: #566873;
			font-size: 16px;
		}
		i {
			text-align: center;
			color: #2B6284;
			font-size: 80px;
			span {
				color: rgba(71, 163, 218, 0.7);
				display: inline-block;
				width: 95px;
				font-size: 60px;
			}
		}
		.icon-pixel-perfect {
			font-size: 90px;
		}
	}

	.container-tools {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: center;
		margin-bottom: 60px;
		.col {
			margin: 15px;
		}
		p {
			color: #566873;
			font-size: 16px;
			margin: 10px 0;
		}
		i {
			font-size: 48px;
		}
		.icon-gulp {
			color: #D34A47;
		}
		.icon-nodejs {
			color: #90C53F;
		}
		.icon-npm {
			color: #CB3736;
		}
		.icon-yarn {
			color: #2C8EBB;
		}
		.icon-git {
			color: #F34F29;
		}
		.icon-github {
			color: #0D2636;
		}
	}

	.container-software {
		.skill-box {
			.skills-circle {
				ul {
					padding: 0;
					margin: 15px 0 60px 0;
					text-align: center;
					list-style-type: none;
					li {
						width: 150px;
						height: 150px;
						background-color: #DDD;
						border-radius: 50%;
						position: relative;
						display: inline-block;
						overflow: hidden;
						margin: 30px;
						span {
							color: #566873;
							&.text {
								top: 50%;
								left: 50%;
								position: absolute;
								transform: translate(-50%, -50%);
								z-index: 1;
							}
							&.bar-circle-right {
								border-radius: 50%;
								position: absolute;
								display: block;
								width: 100%;
								height: 100%;
								background-color: #8EBD4C;
								clip: rect(0, 75px, 150px, 0);
							}
							&.bar-circle-left {
								border-radius: 50%;
								position: absolute;
								display: block;
								width: 100%;
								height: 100%;
								background: #8EBD4C;
								clip: rect(0, 75px, 150px, 0);
								background-color: #DDD;
							}
							&.bar-circle-cover {
								display: block;
								width: 90%;
								height: 90%;
								border-radius: 50%;
								background-color: #EEE;
								z-index: 0;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}
					}
				}
			}
		}
	}
}
