//-------------
//-Main content
//-------------

// ----
//-tabs
//-----
.tabs {
	position: absolute;
	top: 100%;
	width: 100vw;
	transition: all 0.5s ease;
	margin-top: 0;
	overflow-x: hidden;
	nav {
		text-align: center;
		ul {
			display: inline-block;
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				background-color: rgba(255, 255, 255, 0.6);
				display: block;
				position: relative;
				float: left;
				border: 2px solid #BECBD2;
				margin: 0 4px;
				transition: 0.5s;
			}
		}
		.tab-current {
			border: 2px solid #47A3DA;
			box-shadow: inset 0 2px #47A3DA;
			border-bottom: none;
			z-index: 1;
			&:before {
				content: "";
				position: absolute;
				height: 2px;
				right: 100%;
				bottom: -1px;
				width: 100vw;
				background: #47A3DA;
			}
			&:after {
				content: "";
				position: absolute;
				height: 2px;
				right: 100%;
				bottom: -1px;
				background: #47A3DA;
				right: auto;
				left: 100%;
				width: 100vw;
			}
		}
		a {
			display: block;
			text-decoration: none;
			color: #A7B2B8;
			font-size: 24px;
			line-height: 60px;
			padding: 0 20px;
			white-space: nowrap;
			transition: 0.2s;
			&:hover, &:focus {
				color: #47A3DA;
				transform: translateY(-5px);
			}
			&:active {
				transform: translateY(5px);
			}
		}
		.tab-current {
			a {
				color: #47A3DA;
			}
		}
		a:before {
			display: inline-block;
			text-transform: none;
			font-weight: normal;
			font-variant: normal;
			font-family: "icomoon";
			line-height: 1;
			speak: none;
			-webkit-font-smoothing: antialiased;
			margin: -4px 6px 0 0;
		}
		.icon-projects:before {
			content: "\f121";
		}
		.icon-about:before {
			content: "\e914";
		}
		.icon-contacts:before {
			content: "\f0ac";
		}
	}
	.tabs-content {
		background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,1) 30%);
		padding: 60px 15px 0 15px;
	}
	.content {
		max-width: 1230px;
		margin: 0 auto;
		section {
			font-size: 12px;
			display: none;
			margin: 0 auto;
			&:before {
				content: "";
				display: table;
			}
			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}
		h1 {
			display: block;
			font-size: 22px;
			color: #566873;
			font-weight: normal;
			margin-bottom: 25px;
			margin-top: 0;
		}
		.content-current {
			display: block;
		}
	}
}

//-----------
//-#section-2
//-----------

#section-2 {
	.container-about-me {
		margin-bottom: 30px;
		transition: all 0.2s ease-in-out;
		p {
			border: 2px solid rgba(71, 163, 218, 0.7);
			padding: 10px;
			color: #FFF;
			background-color: rgba(71, 163, 218, 0.7);
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 0.5px;
			transition: all 0.2s ease-in-out;
			&:hover, &:focus {
				cursor: default;
				color: #566873;
				background-color: #FFF;
			}
		}
	}

	.container-skills {
		margin-bottom: 60px;
		h1 {
		}
		.skillbar {
			position: relative;
			display: block;
			margin-bottom: 15px;
			width: 100%;
			background: #EEE;
			height: 35px;
			transition: all 0.4s ease-out;
			&:hover, &:focus {
				cursor: default;
				.skill-bar-percent {
					color: #566873;
					font-size: 14px;
				}
				.skillbar-title {
					background-color: #8EBD4C;
				}
			}
		}
		.skillbar-title {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 14px;
			color: #FFF;
			transition: all 0.3s ease-out;
			span {
				min-width: 80px;
				text-align: center;
				display: block;
				background-color: rgba(0, 0, 0, 0.1);
				padding: 0 20px;
				height: 35px;
				line-height: 35px;
			}
		}
		.skillbar-bar {
			height: 35px;
			width: 0px;
			background-color: rgba(71, 163, 218, 0.7);
		}
		.skill-bar-percent {
			position: absolute;
			right: 10px;
			top: 0;
			font-size: 11px;
			height: 35px;
			line-height: 35px;
			color: #444;
			color: rgba(0, 0, 0, 0.4);
			transition: all 0.3s ease-out;
		}
	}

	.container-techniques {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: center;
		.col {
			margin: 15px;
		}
		p {
			color: #566873;
			font-size: 16px;
		}
		i {
			text-align: center;
			color: #2B6284;
			font-size: 80px;
			span {
				color: rgba(71, 163, 218, 0.7);
				display: inline-block;
				width: 95px;
				font-size: 60px;
			}
		}
	}

	.container-tools {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: center;
		margin-bottom: 60px;
		.col {
			margin: 15px;
		}
		p {
			color: #566873;
			font-size: 16px;
			margin: 10px 0;
		}
		i {
			font-size: 48px;
		}
		.icon-gulp {
			color: #D34A47;
		}
		.icon-nodejs {
			color: #90C53F;
		}
		.icon-npm {
			color: #CB3736;
		}
		.icon-yarn {
			color: #2C8EBB;
		}
		.icon-git {
			color: #F34F29;
		}
		.icon-github {
			color: #0D2636;
		}
	}

	.container-software {
		.skill-box {
			.skills-circle {
				ul {
					padding: 0;
					margin: 15px 0 60px 0;
					text-align: center;
					list-style-type: none;
					li {
						width: 150px;
						height: 150px;
						background-color: #DDD;
						border-radius: 50%;
						position: relative;
						display: inline-block;
						overflow: hidden;
						margin: 30px;
						span {
							color: #566873;
							&.text {
								top: 50%;
								left: 50%;
								position: absolute;
								transform: translate(-50%, -50%);
								z-index: 1;
							}
							&.bar-circle-right {
								border-radius: 50%;
								position: absolute;
								display: block;
								width: 100%;
								height: 100%;
								background-color: #8EBD4C;
								clip: rect(0, 75px, 150px, 0);
							}
							&.bar-circle-left {
								border-radius: 50%;
								position: absolute;
								display: block;
								width: 100%;
								height: 100%;
								background: #8EBD4C;
								clip: rect(0, 75px, 150px, 0);
								background-color: #DDD;
							}
							&.bar-circle-cover {
								display: block;
								width: 90%;
								height: 90%;
								border-radius: 50%;
								background-color: #EEE;
								z-index: 0;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}
					}
				}
			}
		}
	}

	.container-linux {
		text-align: center;
		.icon-linux:before {
			color: #7E7E7E;
		}
		.icon-terminal-2:before {
			color: #1D5679;
		}
		.icon-coffee:before {
			color: #8D4811;
		}
		.icon-heart-1:before {
			color: #CC0001;
		}
		i {
			font-size: 60px;
		}
		span {
			vertical-align: top;
			line-height: 60px;
			color: #566873;
			font-size: 40px;
		}
	}
}
