//-------------
//-Main content
//-------------


//----------------
//-Tabs-navigation
//----------------


.tabs {
	background: linear-gradient(to bottom, rgba($white, 0.6) 0%,rgba($white, 1.0) 30%);
	position: absolute;
	top: 100%;
	width: 100vw;
	transition: all 0.5s ease;
	margin-top: 0;
	overflow-x: hidden;
	nav {
		text-align: center;
		ul {
			display: inline-block;
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				background-color: rgba($white, 0.6);
				display: block;
				position: relative;
				float: left;
				border: 2px solid $accent-border;
				margin: 0 4px;
				transition: 0.5s;
			}
		}
		.tab-current {
			border: 2px solid $accent-blue;
			box-shadow: inset 0 2px $accent-blue;
			border-bottom: none;
			z-index: 1;
			a {
				color: $accent-blue;
			}
			&:before {
				content: "";
				position: absolute;
				height: 2px;
				right: 100%;
				bottom: -1px;
				width: 100vw;
				background: $accent-blue;
			}
			&:after {
				content: "";
				position: absolute;
				height: 2px;
				right: 100%;
				bottom: -1px;
				background: $accent-blue;
				right: auto;
				left: 100%;
				width: 100vw;
			}
		}
		a {
			display: block;
			text-decoration: none;
			color: $link-color;
			font-size: 24px;
			line-height: 60px;
			padding: 0 20px;
			white-space: nowrap;
			transition: 0.2s;
			&:before {
				display: inline-block;
				text-transform: none;
				font-weight: normal;
				font-variant: normal;
				font-family: "icomoon";
				line-height: 1;
				speak: none;
				-webkit-font-smoothing: antialiased;
				margin: -4px 6px 0 0;
			}
			&:hover, &:focus {
				color: $accent-blue;
				transform: translateY(-5px);
			}
			&:active {
				transform: translateY(5px);
			}
		}
		.icon-projects:before {
			content: "\f121";
		}
		.icon-about:before {
			content: "\e914";
		}
		.icon-contacts:before {
			content: "\f0ac";
		}
	}
	.tabs-content {
		display: none;
		padding: 60px 15px 0 15px;
		h1 {
			font-size: 22px;
			color: $accent-text;
			font-weight: normal;
			margin: 0 0 25px 0;
		}
		.content {
			max-width: 1230px;
			margin: 0 auto;
			section {
				font-size: 12px;
				display: none;
				margin: 0 auto;
				&:before {
					content: "";
					display: table;
				}
				&:after {
					content: "";
					display: table;
					clear: both;
				}
			}
			.content-current {
				display: block;
			}
			.for-mobile {
				h1 {
					text-align: center;
					display: none;
					margin-bottom: 60px;
				}
			}
		}
	}
	.icon-down {
		width: 100px;
		height: 60px;
		margin: 0 auto;
		text-align: center;
		transform: translateY(-60px);
		.icon-angle-down {
			line-height: 60px;
			color: $accent-header;
			background-color: transparent;
			font-size: 28px;
			cursor: pointer;
			opacity: 0;
			transition: 0.25s;
			animation: bounce 2s infinite;
		}
	}
	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
			transform: translateY(0);
		}
		40% {
			transform: translateY(3px);
		}
		60% {
			transform: translateY(5px);
		}
	}
}


//----------------------
//-#Section-1 | Projects
//----------------------


#section-1 {
	.container {
		margin: 0 auto;
		.row {
			display: flex;
			flex-wrap: wrap;
		}
		.col {
			margin-bottom: 30px;
			overflow: hidden;
			position: relative;
			flex: 1 1 auto;
			min-height: 280px;
			min-width: 355px;
			position: relative;
			border-top: 2px solid $accent-green;
			text-align: justify;
			h1 {
				color: $accent-green;
				font-weight: normal;
				font-size: 60px;
				margin: 0 0 0 -2px;
				padding: 0;
			}
			p {
				color: $accent-text;
				font-size: 16px;
				line-height: 26px;
			}
			input {
				cursor: pointer;
				border: none;
				padding: 10px 0;
				font-size: 14px;
				letter-spacing: 2px;
				text-transform: uppercase;
				background-color: $accent-green;
				color: $white;
				position: absolute;
				bottom: 0;
				width: 100%;
				outline: none;
				height: 40px;
				transition: all 0.2s ease;
				&:active {
					bottom: -1px;
				}
			}
		}
		.slide {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			background-color: $white;
			border-left: 2px solid $accent-green;
			border-right: 2px solid $accent-green;
			padding: 0 15px;
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			$speed: 0.275s;
			transition: all $speed ease-in-out, visibility 0s $speed;
			visibility: hidden;
			will-change: transform;
			transform: translateY(100%);
			p {
				align-self: flex-start;
				margin: 10px 0;
			}
			.text-tags {
				padding-bottom: 60px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: flex-start;
				.tag {
					background: $accent-blue;
					display: inline-block;
					color: $white;
					position: relative;
					padding: 10px;
					margin: 10px;
					font-size: 14px;
				}
				.tag:before {
					background: $white;
					width: 9px;
					height: 9px;
					content: "";
					display: inline-block;
					border-radius: 20px;
					margin: 0 5px 0 0;
				}
			}
		}
		.row:hover {
			& ~ .row .slide {
				transform: translateY(-100%);
			}
			.col:hover .slide {
				transform: none;
				visibility: visible;
				transition-delay: 0s;
			}
		}
		.photo-container {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			background: transparent 50% 50% / cover;
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			transition: 1s;
			transform-origin: bottom right;
			&::before {
				content: '';
				position: absolute;
				top: 0; right: 0; bottom: 0; left: 0;
			}
		}
		.blink {
			margin-right: 30px;
			h1 {
				margin-left: -6px;
			}
			&:hover, &:focus {
				input {
					background-color: $white;
					color: $accent-btn-text;
					height: 60px;
					border: 2px solid $accent-green;
				}
			}
		}
		.denteez {
			h1 {
				margin-left: -6px;
			}
			&:hover, &:focus {
				input {
					background-color: $white;
					color: $accent-btn-text;
					height: 60px;
					border: 2px solid $accent-green;
				}
			}
		}
		.business, .local-weather {
			h1 {
				margin-left: -6px;
			}
			&:hover, &:focus {
				input {
					background-color: $white;
					color: $accent-btn-text;
					height: 60px;
					border: 2px solid $accent-green;
				}
			}
		}
		.style {
			margin-right: 30px;
			&:hover, &:focus {
				input {
					background-color: $white;
					color: $accent-btn-text;
					height: 60px;
					border: 2px solid $accent-green;
				}
			}
		}
		.coffee-shop {
			&:hover, &:focus {
				input {
					background-color: $white;
					color: $accent-btn-text;
					height: 60px;
					border: 2px solid $accent-green;
				}
			}
		}
		.mg-bottom {
			margin-bottom: 100px;
		}
	}
}


//----------------------
//-#Section-2 | About Me
//----------------------


#section-2 {
	.container-about-me {
		margin-bottom: 60px;
		transition: all 0.2s ease-in-out;
		p {
			margin-top: 0;
			border: 2px solid transparent;
			padding: 10px;
			color: $white;
			background-color: rgba($accent-green, 0.8);
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 0.5px;
			transition: all 0.2s ease-in-out;
			&:hover, &:focus {
				border: 2px solid $accent-green;
				cursor: default;
				color: $accent-text;
				background-color: $white;
			}
		}
	}
	.container-skills {
		margin-bottom: 60px;
		h1 {
		}
		.skillbar {
			position: relative;
			display: block;
			margin-bottom: 15px;
			width: 100%;
			background: $accent-grey;
			height: 35px;
			transition: all 0.4s ease-out;
			&:hover, &:focus {
				cursor: default;
				.skill-bar-percent {
					color: $accent-text;
					font-size: 14px;
				}
				.skillbar-title {
					background-color: $accent-green;
				}
			}
		}
		.skillbar-title {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 14px;
			color: $white;
			transition: all 0.3s ease-out;
			span {
				min-width: 80px;
				text-align: center;
				display: block;
				background-color: rgba($black, 0.1);
				padding: 0 20px;
				height: 35px;
				line-height: 35px;
			}
		}
		.skillbar-bar {
			height: 35px;
			width: 0px;
			background-color: rgba($accent-blue, 0.8);
		}
		.skill-bar-percent {
			position: absolute;
			right: 10px;
			top: 0;
			font-size: 12px;
			height: 35px;
			line-height: 35px;
			color: #444;
			color: rgba($black, 0.4);
			transition: all 0.3s ease-out;
		}
	}
	.container-techniques {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: center;
		.col {
			margin: 15px;
		}
		p {
			color: $accent-text;
			font-size: 16px;
			margin-bottom: 25px;
		}
		i {
			text-align: center;
			color: $icon-techniques;
			font-size: 80px;
			span {
				color: rgba($accent-blue, 0.8);
				display: inline-block;
				width: 95px;
				font-size: 60px;
				vertical-align: bottom;
			}
		}
		.icon-pixel-perfect {
			font-size: 90px;
		}
	}
	.container-tools {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: center;
		margin-bottom: 60px;
		.col {
			margin: 15px;
		}
		p {
			color: $accent-text;
			font-size: 16px;
			margin: 10px 0;
		}
		i {
			font-size: 50px;
		}
		.icon-gulp {
			color: $icon-gulp;
		}
		.icon-nodejs {
			color: $icon-nodejs;
		}
		.icon-npm {
			color: $icon-npm;
		}
		.icon-yarn {
			color: $icon-yarn;
		}
		.icon-git {
			color: $icon-git;
		}
		.icon-github {
			color: $icon-github;
		}
	}
	.container-software {
		.skill-box {
			.skills-circle {
				ul {
					padding: 0;
					margin: 15px 0 100px 0;
					text-align: center;
					list-style-type: none;
					li {
						width: 150px;
						height: 150px;
						background-color: $secondary-grey;
						border-radius: 50%;
						position: relative;
						display: inline-block;
						overflow: hidden;
						margin: 30px;
						span {
							color: $accent-text;
							&.text-software {
								top: 50%;
								left: 50%;
								position: absolute;
								transform: translate(-50%, -50%);
								z-index: 1;
							}
							&.bar-circle-right {
								border-radius: 50%;
								position: absolute;
								display: block;
								width: 100%;
								height: 100%;
								background-color: $accent-green;
								clip: rect(0, 75px, 150px, 0);
							}
							&.bar-circle-left {
								border-radius: 50%;
								position: absolute;
								display: block;
								width: 100%;
								height: 100%;
								background: $accent-green;
								clip: rect(0, 75px, 150px, 0);
								background-color: $secondary-grey;
							}
							&.bar-circle-cover {
								display: block;
								width: 90%;
								height: 90%;
								border-radius: 50%;
								background-color: $accent-grey;
								z-index: 0;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}
					}
				}
			}
		}
	}
}


//---------------------
//-#Section-3 | Contact
//---------------------


#section-3 {
	min-height: calc(95vh - 190px);
	h1 {
		text-align: center;
		margin: 0 0 60px 0;
	}

	.container-social {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 100px;
		.container-mail, .container-phone, .container-skype, .container-github {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 15px;
			margin-right: 30px;
		}
		.container-github {
			margin-right: 0;
		}
		.icon-button {
			background-color: $white;
			border-radius: 50%;
			cursor: pointer;
			display: inline-block;
			font-size: 64px;
			height: 116px;
			line-height: 116px;
			margin: 0 5px;
			position: relative;
			text-align: center;
			user-select: none;
			width: 116px;
			span {
				border-radius: 0;
				display: block;
				height: 0;
				left: 50%;
				margin: 0;
				position: absolute;
				top: 50%;
				transition: all 0.3s;
				width: 0;
			}
			i {
				background: none;
				color: $white;
				height: 116px;
				left: 0;
				line-height: 116px;
				position: absolute;
				top: 0;
				transition: all 0.3s;
				width: 116px;
				z-index: 10;
			}
			.icon-mail {
				color: $icon-mail;
			}
			.icon-phone {
				color: $icon-phone;
			}
			.icon-skype {
				color: $icon-skype;
			}
			.icon-github {
				color: $icon-github;
			}
			&:hover, &:focus {
				span {
					width: 116px;
					height: 116px;
					border-radius: 116px;
					margin: -58px;
				}
				.icon-mail {
					color: $white;
				}
				.icon-phone {
					color: $white;
				}
				.icon-skype {
					color: $white;
				}
				.icon-github {
					color: $white;
				}
			}
		}
	.container-copy {
		flex-direction: column;
		margin-top: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.text {
			text-align: center;
			font-size: 16px;
			color: $accent-text;
		}
		button {
			width: 200px;
			margin-top: 30px;
			color: $white;
			text-transform: uppercase;
			font-size: 14px;
			cursor: pointer;
			border: none;
			margin-left: 10px;
			padding: 10px 20px;
			outline: none;
			transition: all 0.2s ease;
			background-color: $accent-blue;
			border: 2px solid transparent;
			&:hover, &:focus {
				box-shadow: inset 0 0 0 2px $white;
			}
			&:active {
				transform: translateY(2px);
				box-shadow: inset 0 0 0 2px $white;
			}
		}
	}
		.mail {
			span {
				background-color: $icon-mail;
			}
		}
		.phone {
			span {
				background-color: $icon-phone;
			}
		}
		.skype {
			span {
				background-color: $icon-skype;
			}
		}
		.github {
			span {
				background-color: $icon-github;
			}
		}
	}
}

