@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/montserrat-bold.eot");
	src: url("../fonts/montserrat/montserrat-bold.eot?#iefix") format("embedded-opentype"),
		url("../montserrat/fonts/montserrat-bold.woff") format("woff"),
		url("../fonts/montserrat/montserrat-bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/montserrat-regular.eot");
	src: url("../fonts/montserrat/montserrat-regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/montserrat-regular.woff") format("woff"),
		url("../fonts/montserrat/montserrat-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Icomoon";
	src:  url("../fonts/icomoon/icomoon.eot?fcec72");
	src:  url("../fonts/icomoon/icomoon.eot?fcec72#iefix") format("embedded-opentype"),
		url("../fonts/icomoon/icomoon.ttf?fcec72") format("truetype"),
		url("../fonts/icomoon/icomoon.woff?fcec72") format("woff"),
		url("../fonts/icomoon/icomoon.svg?fcec72#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: "Icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e919";
}

.icon-pixel-perfect:before {
	content: "\e918";
}

.icon-coffee:before {
	content: "\e917";
}

.icon-grid:before {
	content: "\e915";
}

.icon-responsive:before {
	content: "\e916";
}

.icon-rocket-2:before {
	content: "\e914";
}

.icon-avocode:before {
	content: "\e911";
}

.icon-nodejs:before {
	content: "\e90c";
}

.icon-photoshop:before {
	content: "\e900";
}

.icon-photoshop-filled:before {
	content: "\e901";
}

.icon-sublime-text:before {
	content: "\e902";
}

.icon-yarn:before {
	content: "\e903";
}

.icon-jquery:before {
	content: "\e904";
}

.icon-pug:before {
	content: "\e905";
}

.icon-me:before {
	content: "\e906";
}

.icon-bootstrap:before {
	content: "\e907";
}

.icon-codecademy:before {
	content: "\e90d";
}

.icon-fire:before {
	content: "\e908";
}

.icon-coderwall:before {
	content: "\e90e";
}

.icon-codeschool:before {
	content: "\e90f";
}

.icon-coursera:before {
	content: "\e910";
}

.icon-git:before {
	content: "\e912";
}

.icon-gmail:before {
	content: "\e913";
}

.icon-gulp:before {
	content: "\e909";
}

.icon-js:before {
	content: "\e90a";
}

.icon-sass:before {
	content: "\e90b";
}

.icon-cancel:before {
	content: "\e5c9";
}

.icon-close:before {
	content: "\e5cd";
}

.icon-mail:before {
	content: "\f003";
}

.icon-heart-1:before {
	content: "\f004";
}

.icon-gear:before {
	content: "\f013";
}

.icon-camera:before {
	content: "\f030";
}

.icon-eye:before {
	content: "\f06e";
}

.icon-folder2:before {
	content: "\f07b";
}

.icon-camera-retro:before {
	content: "\f083";
}

.icon-heart-2:before {
	content: "\f08a";
}

.icon-github:before {
	content: "\f09b";
}

.icon-globe:before {
	content: "\f0ac";
}

.icon-tasks:before {
	content: "\f0ae";
}

.icon-google-plus:before {
	content: "\f0d5";
}

.icon-envelope:before {
	content: "\f0e0";
}
.icon-fighter-jet:before {
	content: "\f0fb";
}

.icon-angle-left:before {
	content: "\f104";
}

.icon-angle-right:before {
	content: "\f105";
}

.icon-angle-up:before {
	content: "\f106";
}

.icon-angle-down:before {
	content: "\f107";
}

.icon-quote-left:before {
	content: "\f10d";
}

.icon-quote-right:before {
	content: "\f10e";
}

.icon-folder:before {
	content: "\f114";
}

.icon-terminal-1:before {
	content: "\f120";
}

.icon-code:before {
	content: "\f121";
}

.icon-css3:before {
	content: "\f13c";
}

.icon-linux:before {
	content: "\f17c";
}

.icon-skype:before {
	content: "\f17e";
}

.icon-space-shuttle:before {
	content: "\f197";
}

.icon-google:before {
	content: "\f1a0";
}

.icon-codepen:before {
	content: "\f1cb";
}

.icon-resistance:before {
	content: "\f1d0";
}

.icon-empire:before {
	content: "\f1d1";
}

.icon-git-square:before {
	content: "\f1d2";
}

.icon-send:before {
	content: "\f1d9";
}

.icon-server:before {
	content: "\f233";
}

.icon-i-cursor:before {
	content: "\f246";
}

.icon-chrome:before {
	content: "\f268";
}

.icon-firefox:before {
	content: "\f269";
}

.icon-opera:before {
	content: "\f26a";
}

.icon-internet-explorer:before {
	content: "\f26b";
}

.icon-television:before {
	content: "\f26c";
}

.icon-tv:before {
	content: "\f26c";
}

.icon-edge:before {
	content: "\f282";
}

.icon-hashtag:before {
	content: "\f292";
}

.icon-handshake:before {
	content: "\f2b5";
}

.icon-user-circle:before {
	content: "\f2be";
}

.icon-free-code-camp:before {
	content: "\f2c5";
}

.icon-telegram:before {
	content: "\f2c6";
}

.icon-grav:before {
	content: "\f2d6";
}

.icon-rocket-1:before {
	content: "\f033";
}

.icon-terminal-2:before {
	content: "\f0c8";
}

.icon-cloud-check:before {
	content: "\e9c4";
}

.icon-npm:before {
	content: "\eab1";
}

.icon-html5:before {
	content: "\eae4";
}
