.footer {
	width: 100%;
	text-align: center;
	// position: absolute;
	// bottom: 0;
	color: #9AA5AA;
	font-size: 14px;
}

#section-3 {
	.footer {
		position: absolute;
		bottom: 0;
		left: 0;
		color: #9AA5AA;
	}
}
