.footer {
	&.footer-fluid-paddings {
		padding: 70px;
		@media (max-width: $screen-sm-max) {
			padding: 35px;
		}
		@media (max-width: $screen-xs-max) {
			padding: 15px;
		}
	}
	.footer-contact {
		h3 {
			color: #FFF;
			margin: 0;
			padding-bottom: 1em;
		}
		h4 {color: #808080;}
		@media (max-width: $screen-xs-max) {
			margin-bottom: 2em;
		}
	}
	button {
		width: 100%; text-transform: uppercase;
	}
	p.footer-message {
		color: #FFF;
		display: none;
		text-align: center;
		@media (max-width: $screen-xs-max) {
			padding-top: 0.7em;
		}
		font-size: 1.2em;
		padding-bottom: 1em;
	}
}
