//-------
//-Header
//-------

.header {
	height: 100vh;

	.particle-network-animation {
		height: 100%;
		transition: 0.5s;
		canvas {
			width: 100%;
		}
	}

	.name-info {
		color: $accent-header;
		opacity: 1;
		transition: 0.5s;
		background-color: rgba(255, 255, 255, 0.6);
		position: absolute;
		top: 20%;
		left: 10%;
		cursor: default;
		display: inline-block;
		padding: 15px 30px;
		border: 2px solid $accent-blue;
		span {
			display: inline-block;
			padding: 0 2px 10px 2px;
			font-size: 28px;
			animation: type 4s steps(60, end);
			white-space: nowrap;
			overflow: hidden;
		}
		p {
			visibility: hidden;
			font-size: 20px;
			overflow: hidden;
			border-right: 2px solid $accent-header;
			white-space: nowrap;
			margin: 0 auto;
			letter-spacing: 2px;
			animation: typing-visibility 0s 1s forwards linear, typing 5s 1s steps(30, end), blink-caret .5s step-end infinite;
		}
	}
}

@keyframes typing {
	0% {
		width: 0
	}
	100% {
		width: 100%
	}
}

@keyframes blink-caret {
	0%, 100% {
		border-color: transparent
	}
	50% {
		border-color: $accent-header;
	}
}

@keyframes typing-visibility {
	100% {
		visibility: visible;
	}
}
