//-------
//-Header
//-------

.header {
	.row {
		margin: 0;
	}
	.col {
		padding: 0;
	}
	.particle-network-animation {
		height: 100vh;
		transition: 0.5s;
		canvas {
			width: 100%;
		}
	}
	.header-content {
		max-width: 1230px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.name-info {
		color: #768E9D;
		opacity: 1;
		transition: 0.5s;
		background-color: rgba(255, 255, 255, 0.6);
		position: absolute;
		top: 20%;
		left: 10%;
		cursor: default;
		display: inline-block;
		padding: 15px 30px;
		border: 2px solid #47A3DA;
		span {
			display: inline-block;
			padding: 0 2px 10px 2px;
			font-size: 28px;

			animation: type 4s steps(60, end);
			white-space: nowrap;
			overflow: hidden;
		}
		p {
			visibility: hidden;
			font-size: 20px;
			overflow: hidden;
			border-right: 2px solid #768E9D;
			white-space: nowrap;
			margin: 0 auto;
			letter-spacing: 2px;
			animation: typing-visibility 0s 1s forwards linear, typing 5s 1s steps(30, end), blink-caret .5s step-end infinite;
		}
	}
	.icon-angle-down {
		position: absolute;
		text-align: center;
		width: 50px;
		height: 62px;
		top: -50vh;
		left: 100%;
		transform: translate(-100%, 0);
		font-size: 28px;
		z-index: 1;
		cursor: pointer;
		opacity: 0;
		line-height: 62px;
		transition: 0.5s;
		&:hover, &:focus {
			animation: bounce 2s infinite;
		}
	}
}

@keyframes typing {
	0% {
		width: 0
	}
	100% {
		width: 100%
	}
}

@keyframes blink-caret {
	0%, 100% {
		border-color: transparent
	}
	50% {
		border-color: #768E9D
	}
}

@keyframes typing-visibility {
	100% {
		visibility: visible;
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		padding-top: 0;
	}
	40% {
		padding-top: 5px;
	}
	60% {
		padding-top: 10px;
	}
}
