@media screen and (max-width: 1024px) {
	.header {

		.name-info {
			top: 20%;
			left: 50%;
			transform: translate(-50%, 0);
			text-align: center;
		}
	}

	.tabs {
		margin-top: -50px;
		nav {
			a {
				span {
					font-size: 20px;
				}
			}
		}
	}

	#section-2 {
		h1 {
			font-size: 20px;
		}

		.container-about-me {
			p {
				font-size: 16px;
				line-height: 26px;
			}
		}

		.container-techniques {
			i {
				font-size: 70px;
				span {
					font-size: 50px;
				}
			}
		}

		.container-software {

			.skill-box {

				.skills-circle {
					ul {
						li {
							width: 120px;
							height: 120px;
							span {
								&.bar-circle-right {
									clip: rect(0, 60px, 120px, 0);
								}
								&.bar-circle-left {
									clip: rect(0, 60px, 120px, 0);
								}
							}
						}
					}
				}
			}
		}
	}

	#section-3 {

		.container-social {

			.container-mail, .container-phone, .container-skype, .container-google-plus {
			width: 354px;
			margin-right: 0;
			}

			.container-copy {
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.header {

		.name-info {
			span {
				font-size: 24px;
			}
			p {
				font-size: 18px;
				letter-spacing: 1.3px;
			}
		}
	}

	.tabs {
		nav {

			.tab-current {
				box-sizing: border-box;
				box-shadow: none;
				border: none;
				&:before {
					content: "";
					position: absolute;
					height: 2px;
					right: 100%;
					bottom: -1px;
					width: 100vw;
					background-color: #47A3DA;
				}
				&:after {
					content: "";
					position: absolute;
					height: 2px;
					right: 100%;
					bottom: -1px;
					background: #47A3DA;
					right: auto;
					left: 100%;
					width: 100vw;
				}
			}
			ul {
				width: 100%;
				padding: 0;
				li {
					box-sizing: border-box;
					width: 33%;
					margin: 0 0 0 -1px;
					border: none;
					&:first-child {
					}
					&:last-child {
						width: calc(34% + 3px);
					}
					a {
						font-size: 28px;
						width: 100%;
						padding: 0;
					}
				}
			}
		}
	}

	#section-1 {

		.container {

			.col {
				min-width: 370px;
				h1 {
					font-size: 50px;
				}
				p {
					font-size: 16px;
					line-height: 26px;
				}
			}

			.slide {

				.text-tags {

					.tag {
						margin: 5px;
					}
				}
			}

			.blink {
				margin-right: 0;
			}

			.style {
				margin-right: 0;
			}
		}
	}

	#section-2 {

		.container-skills {
			margin-bottom: 30px;

			.skillbar {
				height: 25px;
				margin-bottom: 10px;
				&:hover, &:focus {
					.skill-bar-percent {
						font-size: 14px;
					}
				}
			}

			.skillbar-title {
				background-color: transparent;
				font-size: 14px;
				span {
					min-width: 0px;
					padding: 0 10px;
					height: 25px;
					line-height: 25px;
				}
			}

			.skillbar-bar {
				height: 25px;
			}

			.skill-bar-percent {
				height: 25px;
				line-height: 25px;
			}
		}

		.container-tools {

			.col {
				min-width: 120px;
			}
		}

		.container-software {

			.skill-box {

				.skills-circle {
					ul {
						li {
								margin: 15px;
						}
					}
				}
			}
		}
	}

	#section-3 {

		.container-social {

			.container-mail, .container-phone, .container-skype, .container-google-plus {
			width: 250px;
			margin-right: 0;
			}

			.container-copy {
			}
		}
	}
}


@media screen and (max-width: 580px) {
	.tabs {

		nav{
			a {
				span {
					display: none;
				}
				&:before {
					margin-right: 0;
				}
			}
		}
	}

	#section-1, #section-2, #section-3 {

		.for-mobile {
			h1 {
				display: block;
				font-size: 22px;
			}
		}
	}

	#section-2 {

		.container-skills {

			.skillbar {
				&:hover, &:focus {
					.skillbar-title {
						background-color: transparent;
					}
				}
			}

			.skillbar-title {
				span {
					background-color: transparent;
					text-align: left;
				}
			}
		}

		.container-software {

			.skill-box {

				.skills-circle {
					ul {
						li {
								margin: 15px 15px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.header {

		.name-info {
			padding: 10px 20px;
			span {
				white-space: normal;
				font-size: 20px;
				padding-bottom: 5px;
			}
			p {
				font-size: 14px;
				letter-spacing: 1.5px;
				white-space: normal;
				animation: none;
				visibility: visible;
				border-right: none;
			}
		}
	}

	#section-1 {

		.container {

			.col {
				min-width: 240px;
			}

			.blink {
				margin-right: 0;
				h1 {
					margin-left: -2px;
				}
			}

			.denteez {
				h1 {
					margin-left: -2px;
				}
			}

			.business {
				h1 {
					margin-left: -2px;
				}
			}

			.style {
				margin-right: 0;
			}
		}
	}

	#section-2 {
		h1 {
			font-size: 18px;
		}

		.container-software {

			.skill-box {

				.skills-circle {
					ul {
						li {
								margin: 15px 5px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 460px) {
	#section-1 {

		.container {

			.row {

				.col {
					p {
						font-size: 14px;
					}
					h1 {
						font-size: 40px;
					}
				}

				.slide {

					.text-tags {

						.tag {
							font-size: 12px;
							padding: 5px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 320px) {
	#section-1 {

		.container {

			.col {
				min-width: 150px;
			}
		}
	}

	#section-2 {

		.container-tools {

			.col {
				min-width: 40px;
			}
		}
	}

	#section-3 {

		.container-social {

			.container-copy {

				.text {
					font-size: 14px;
				}
			}
		}
	}
}

@media screen and (max-width: 530px) and (max-height: 300px) {
	.header {

		.name-info {
			top: 5%;
			padding: 2px 20px;
		}
	}
}
