// -------------
// Media queries
// -------------

@media screen and (max-width: 1024px) {
	.header {
		.name-info {
			top: 20%;
			left: 50%;
			transform: translate(-50%, 0);
			text-align: center;
		}
	}
	.tabs {
		margin-top: -52px;
		nav {
			a {
				font-size: 20px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		.name-info {
			span {
				font-size: 22px;
			}
			p {
				font-size: 16px;
				letter-spacing: 1.3px;
			}
		}
	}
}


@media screen and (max-width: 560px) {
	.tabs {
		nav{
			a {
				span {
					display: none;
				}
				&:before {
					margin-right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.header {
		.name-info {
			padding: 10px 20px;
			span {
				white-space: normal;
				font-size: 18px;
				padding-bottom: 5px;
			}
			p {
				font-size: 13px;
				letter-spacing: 1px;
				white-space: normal;
				animation: none;
				border-right: none;
			}
		}
	}
}

@media screen and (max-width: 530px) and (max-height: 300px) {
	.header {
		.name-info {
			top: 5%;
			padding: 2px 20px;
		}
	}
}
