$accent-header:			#768E9D;
$accent-green:			#8EBD4C;
$accent-green-rgba:	rgba(142, 189, 76, 0.8);
$accent-blue:				#47A3DA;
$accent-blue-rgba:	rgba(71, 163, 218, 0.8);
$accent-text:				#566873;
$accent-btn-text:		#888;
$white:							#FFF;
