$white:							#FFFFFF;
$black:							#000000;

$accent-header:			#768E9D;
$accent-border: 		#BECBD2;
$accent-green:			#8EBD4C;
$accent-blue:				#47A3DA;
$accent-grey:				#EEEEEE;
$accent-text:				#566873;
$accent-btn-text:		#888888;

$secondary-grey:		#DDDDDD;
$link-color:				#A7B2B8;

$icon-techniques:		#2B6284;
$icon-gulp:					#D34A47;
$icon-nodejs:				#90C53F;
$icon-npm:					#CB3736;
$icon-yarn:					#2C8EBB;
$icon-git:					#F34F29;
$icon-github:				#0D2636;
$icon-mail:					#7E7CFF;
$icon-phone:				#2B979C;
$icon-skype:				#00AFF0;
$icon-github:				#1E4A68;
