$btn-br-radius                      : 0;
$btn-font-size                      : 1em;
$btn-focus-color                    : #fff;

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: $btn-font-size;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid black;
	border-radius: $btn-br-radius;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline:none;
	/*Синяя обводка при нажатии
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;*/
}
.btn:hover,
.btn:focus,
.btn.focus {
	color: $btn-focus-color;
	text-decoration: none;
}
/*Реакция на клик*/
.btn:active,
.btn.active {
	outline: none;
	background-image: none;
	box-shadow: none;
	/*Синяя обводка при нажатии
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);*/
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
	pointer-events: none;
}