.content {
	ul, li {
		margin: 0;
		padding: 0;
		border-top:  1px solid rgba(128,128,128,0.25);
		border-bottom: 1px solid rgba(128,128,128,0.25);
		list-style: none;
	}
	&.content-paddings {
		padding: 0;
	}

	.sites li {
		padding: 50px 70px 50px 70px;
		margin: 0;
		@media (max-width: 767px) {
			padding: 35px 35px 70px 35px;
		}
		@media (max-width: 479px) {
			padding: 15px 15px 30px 15px;
		}
	}
	.sitename {
		p {
			font-size: 7em;
			margin: 0;
			@media (max-width: 767px) {
				font-size: 5em;
			}
			@media (max-width: 479px) {
				font-size: 4em;
			}
		}
	}
	.tags {
		p {
			font-size: 1.5em;
			@media (max-width: 479px) {
				font-size: 1em;
			}
		}
	}
}

