doctype html
html(lang="en")
	head
		include templates/head
	body
		header
			include templates/header
		main(role="main")
			include  templates/content
		footer(role="contentinfo")
			include templates/footer
		include templates/script