doctype html
html(lang="en")
	head
		include templates/head
	body
		header
			include templates/header
		main
			//- include templates/content
		footer
			//- include templates/footer
		include templates/script
